.cards{
    margin: 100px 50px;
    height: 100vh;
    
    display: grid;
    grid-gap: 50px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a b c"
                         "d e f";
    grid-auto-flow: row;

}
.card1{
    grid-template-areas: a;
}
.card2{
    grid-template-areas: b;
}
.card3{
    grid-template-areas: c;
}
.card4{
    grid-template-areas: d;
}
.card5{
    grid-template-areas: e;
}
.card6{
    grid-template-areas: f;
}

.card{
    background-color: black;
    
    height: auto;
    width: 100%;
    
}
#card-div-img{
    background-color: blueviolet;
}
#img-card{
    float: left;
    width: 100%;
    height: auto;
}
.contenedor-texto-card{


    font-size: 17px;
    background-color: rgb(196, 196, 196);
}
#card-titulo{
    color: black;
    padding: auto 0px 0 0;
}
#card-precio{
    color: black;

    padding: 10px;
    margin: 0px;
    text-align: center;
}
#card-texto{
    color: black;
    
    text-align:inherit;
    font-size: 18px;
    margin: 0px;
    padding: 10px;
}
